<nav clas="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs" id="sidenav-main">
  <div class="sidenav-header  align-items-center">
    <a href="https://parlatorelawgroup.com/"><%= image_tag "app/assets/images/logo.png"%></a>
  </div>
  <div class="navbar-inner">
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class='nav-item'>
          <a class='nav-link'><%= link_to 'onboarding#index' %>Onboarding process</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link'><%= link_to 'profile#index' %>Employee Profiles</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link'><%= link_to '#' %>Lawyer Headshots</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link'><%= link_to '#' %>State License</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link'><%= link_to '#' %>Social Media</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link'><%= link_to '#' %>Video Training</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link'><%= link_to '#' %>Shared Documents</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link'><%= link_to '#' %>Help Desk Ticket</a>
        </li>
      </ul>
    </div>
  </div>
  <li class="nav-item">
    <a class="nav-link"><%#= link_to 'MESSAGES', messages_path %><%= link_to '#' %>MESSAGES</a>
  </li>
</nav>

