<div class="mt-5 pb-5 lawyer-background">
  <%= render 'shared/header' %>
  <h1> Shared Documents</h1>
  <%= render 'shared/search' %>
  <i class="fas fa-folder-open"></i>
  <%= link_to "Partner Folder", asset_path("pdf_file.pdf") %>
  <%= link_to "Partner Agreement", asset_path("partnership_agreement.pdf") %>
  <%= link_to "Opening a new matter", asset_path("opening_a_new_matter_April_2021.pdf") %>
  <%= link_to "Filing Invoices", asset_path("filing_invoices.pdf") %>
  <%= link_to "Social Media Training", asset_path("pdf_file.pdf") %>
  <%= link_to "Add Email to new account", asset_path("pdf_file.pdf") %>
</div>
