# Profile#show
# Find me in app/views/profile/show.html.erb

<%= render 'profile' %>
<%= render 'shared/header' %>
<%= render 'shared/navbar' %>

<div class="my-4 pb-3">

  <div class="mb-5 profile-show">
    <div class="d-flex align-items-center pt-5">
      <%= link_to profile_path(@profile.id.to_i - 1), class: "mr-5" do %><i class="fas fa-reply"></i><% end %>
      <i class="fab fa-linkedin"><a href="www.linkedin.com/{user.id}" alt=""></a></i>
      <i class="fab fa-instagram"><a href="www.instagram.com/{user.id}" alt=""></i>
      <i class="fab fa-facebook-square"><a href="www.facebook.com/{user.id}" alt=""></i>
      <i class="fab fa-youtube-square"><a href="www.youtube.com/{user.id}" alt=""></i>
      <i class="fab fa-twitter-square"><a href="www.twitter.com/{user.id}" alt=""></i>

      <div class="profile-show-card">
        <div class="profile-show-content">
          <h1 class = "card-title"><%= @profile.first_name %> <%= @profile.last_name %></h1>
          <div class="d-flex mb-5">
            <div>
              <%= image_tag @profile.photo, class: "card-img-top" %>
            </div>
            <div>
              <p>Education <strong class="profile-show-info"></strong></p>
              <p> Practice Areas<strong class="profile-show-info"></strong></p>
              <p> Licences <strong class="profile-show-info"></strong></p>
              <div class="d-flex">
                <p><strong class="profile-show-info"></strong></p>
                <p> <strong class="profile-show-info"></strong></p>
                <p> <strong class="profile-show-info"></strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





